h1 {
	color: #30938b; 
	font-family: "Poppins"; serif;
  font-weight: 700;
  font-style: normal;
  font-size: 92pt;
  text-shadow: 7px 7px 4px #275a58;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: #7eaba6; 
}

